@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.left-panel, .right-panel {
  /* backface-visibility: hidden;
  /* transform-style: preserve-3d; */
  /* will-change: background; */
  
}

.left-panel {
  background: conic-gradient(#fefafa 30deg, #181818 350deg);
  transform: rotate(90deg);
}
  
.right-panel {
  background: conic-gradient(#fefafa 30deg, #181818 350deg);
  transform: rotate(90deg) scaleY(-1);
}

@media only screen and (min-width: 600px) {
  /* Phones */
  .left-panel {
    margin-right: 500px;
  }

  .right-panel {
    margin-left: 500px;
  }
}

@media only screen and (min-width: 768px) {
  /* Tablets */
  .left-panel {
    margin-right: 200px;
  }

  .right-panel {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 992px) {
  /* laptops, desktops */
  .left-panel {
    margin-right: 120px;
  }

  .right-panel {
    margin-left: 120px;
  }
}

@media only screen and (min-width: 1200) {
  /* Large screens */
  .left-panel {
    margin-right: 120px;
  }

  .right-panel {
    margin-left: 120px;
  }
}

@keyframes flip-gradient {
  0% { background: conic-gradient(#fefafa 30deg, #181818 320deg); }
  5% { background: conic-gradient(#fefafa 45deg, #181818 305deg); }
  10% { background: conic-gradient(#fefafa 60deg, #181818 290deg); }
  15% { background: conic-gradient(#fefafa 75deg, #181818 275deg); }
  20% { background: conic-gradient(#fefafa 90deg, #181818 260deg); }
  25% { background: conic-gradient(#fefafa 105deg, #181818 245deg); }
  30% { background: conic-gradient(#fefafa 120deg, #181818 230deg); }
  35% { background: conic-gradient(#fefafa 135deg, #181818 215deg); }
  40% { background: conic-gradient(#fefafa 150deg, #181818 200deg); }
  45% { background: conic-gradient(#fefafa 165deg, #181818 185deg); }
  50% { background: conic-gradient(#181818 170deg, #fefafa 180deg); }
  55% { background: conic-gradient(#181818 155deg, #fefafa 195deg); }
  60% { background: conic-gradient(#181818 140deg, #fefafa 210deg); }
  65% { background: conic-gradient(#181818 125deg, #fefafa 225deg); }
  70% { background: conic-gradient(#181818 110deg, #fefafa 240deg); }
  75% { background: conic-gradient(#181818 95deg, #fefafa 255deg); }
  80% { background: conic-gradient(#181818 80deg, #fefafa 270deg); }
  85% { background: conic-gradient(#181818 65deg, #fefafa 285deg); }
  90% { background: conic-gradient(#181818 50deg, #fefafa 300deg); }
  95% { background: conic-gradient(#181818 35deg, #fefafa 315deg); }
  100% { background: conic-gradient(#181818 30deg, #fefafa 350deg); } 
}

.animate-flip-gradient {
  animation: flip-gradient 1s linear forwards;
}